* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: palegreen;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 1px solid palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}


.active {
    background-color: rgb(83, 146, 255);
}

